.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/

android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java

.flutter-plugins
.flutter-plugins-dependencies
.metadata

coverage/

*.lock
!pubspec.lock
